# Required for VM-Series tutorial
project_id                  = null
public_key_path             = "~/.ssh/vmseries-tutorial.pub"
mgmt_allow_ips              = ["0.0.0.0/0"]
vmseries_image_name         = "vmseries-flex-bundle2-1028"
create_spoke_networks       = true
enable_session_resiliency   = false


# Optional for VM-Series tutorial.
region                      = "us-central1"
cidr_mgmt                   = "10.0.0.0/28"
cidr_untrust                = "10.0.1.0/28"
cidr_trust                  = "10.0.2.0/28"
cidr_spoke1                 = "10.1.0.0/28"
cidr_spoke2                 = "10.2.0.0/28"
